## SQL And SQLite

SQL (Structured Query Language) mis a standard language for managing and manipulating relational databases, SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we  will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## Connet to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [ ]:
## cursor is used to write sql queries
cursor = connection.cursor()

In [10]:
## Create a Table
cursor.execute('''
    Create Table If Not Exists employees (
        id Integer Primary key,
        name Text Not Null,
        age Integer,
        department Text
        )
''')

# commit the changes
connection.commit()

In [12]:
cursor.execute('''
Select * from employees
''')

In [13]:
# Insert the data in  sqlite table

cursor.execute('''
   Insert Into employees (name, age, department)
               values('Mohamed', 32, 'Datascientist')
''')
cursor.execute('''
   Insert Into employees (name, age, department)
               values('Zain', 4, 'kid')
''')
cursor.execute('''
   Insert Into employees (name, age, department)
               values('Omar', 22, 'Security')
''')

connection.commit()

In [18]:
# query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Mohamed', 34, 'Datascientist')
(2, 'Zain', 4, 'kid')
(3, 'Omar', 22, 'Security')

In [19]:
# update teh data in the table
cursor.execute('''
    UPDATE employees
               set age = 34
               where name = "Mohamed"

''')

connection.commit()

In [22]:
# query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Mohamed', 34, 'Datascientist')
(2, 'Zain', 4, 'kid')

In [21]:
# Delete the data from the table
cursor.execute('''
    DELETE from employees 
               where name ='Omar'
''')

connection.commit()

In [23]:
# query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Mohamed', 34, 'Datascientist')
(2, 'Zain', 4, 'kid')

In [24]:
# Working with Sales Data 
# Connect to an SQlite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()


# Crreate a table for sales data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales (
                id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100,  'North'),
    ('2023-01-02', 'Product2', 200,  'South'),
    ('2023-01-03', 'Product1', 150,  'East'),
    ('2023-01-04', 'Product3', 250,  'West'),
    ('2023-01-05', 'Product2', 300,  'North')
]

# inserting many items need executemany()
cursor.executemany('''
Insert into sales(date, product, sales, region)
                   values(?,?,?,?)
''', sales_data)

connection.commit()

In [26]:
cursor.execute('SELECT * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [27]:
## close the connection
connection.close()

In [28]:
cursor.execute('SELECT * from sales')

ProgrammingError: Cannot operate on a closed database.